html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  margin: 0;
  background: rgb(99, 117, 143) top center no-repeat;
}

#space {
  width: 1008px;
}

.card {
  position: relative;
  float: left;
  width: 110px;
  height: 110px;
  margin: 8px;
  cursor:pointer;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s;
}

.side {
  position: absolute;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  background: white;
}

.front {
  font: 32px/110px Verdana;
  text-align: center;
  user-select: none;
  transition: transform 0.2s linear 0.2s;
}

.flip .front {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

.back {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotateY(-90deg);
  transition: transform 0.2s linear 0s;
}

.flip .back {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}
